
//modulos:
@import "variables";
@import "mixin";
@import "reset";
@import "header";
@import "carousel";
@import "cards";
@import "galeriaCollage";
@import "footer";
@import "cart";


#body{
    background-color: map-get($map: $color-map, $key: colorbg);
    
}

.border{
    border-color: map-get($map: $color-map, $key: secondary-color ) ;
}

.contenedor{
    background-color: map-get($map: $color-map, $key: container-color);
    border-radius: $border-radius;
    
}


